# Compiled class file
*.class
target/
bin/

# Log file
*.log

# Package Files #
*.jar
*.war

#idea
*.iml
.idea/
application-dev1.yml
#eclipse
.settings/
.classpath
.project
/src/main/resources/application-dev1.yml
